
@{
    ViewBag.Title = "CodigoQr";
}

<br />
<br />

<form action="CodigoQr" method="post">
    <div class="row">
        <div class="container-fluid">
            <input type="text" name="DatoQr" placeholder="Coloca el url" />
        </div>
    </div>
    <br />
    <input type="submit" name="btnqr" value="Generar" />
</form>

