@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <form class="form-inline" method="post">
                <div class="form-group">
                    <h4><label>Generar Codigo QR</label></h4>
                    <input type="text" name="url" placeholder="Ingresa el URL" />
                </div>
                <br />
                <div>
                    <br />
                    <button type="submit" class="btn-primary">Generar</button>
                </div>
            </form>
        </div>
    </div>
</div>

