
@{
    ViewBag.Title = "Formulario";
}
<br />
<form method="post">
    <div class="row">
        <div class="container thumbnail">
            <div class="col-xs-2 thumbnail">
                <p>Logo</p>
            </div>
            <div class="col-xs-4 thumbnail">
                <p style="text-align:center;"><strong>FINISH GOOD SPECIFICATION</strong></p>
            </div>
            <div class="col-xs-3 thumbnail">
                <p>14Q0402</p>
            </div>
            <div class="col-xs-3 thumbnail">
                <p>FGS201312/13W1006</p>
            </div>
            <div class="col-xs-3 thumbnail">
                <p><strong>TIMESTAMP START:</strong></p>
                <input style="width:100%;" id="Text2" type="datetime" />
                <br />
                <p><strong>TIMESTAMP FINISH:</strong></p>
                <input style="width:100%;" id="Text1" type="datetime" />
            </div>
            <div class="col-xs-3 thumbnail">
                <p><strong>CRITICAL OBSERVATIONS:</strong></p>
                <input style="width:100%;" id="Text3" type="text" />
            </div>
            <div class="col-xs-3 thumbnail">
                <p><strong>BUILD by:</strong></p>
                <input style="width:100%;" id="Text4" type="text" />
                <br />
                <p><strong>REVISED by:</strong></p>
                <input style="width:100%;" id="Text5" type="text" />
            </div>
            <div class="col-xs-3 thumbnail">
                <p><strong>PRJID/PO:</strong></p>
                <input style="width:100%;" id="Text6" type="text" />
                <br />
                <p><strong>FOLIO FOLDER:</strong></p>
                <input style="width:100%;" id="Text7" type="text" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container thumbnail ">
            <div class="col-xs-12 thumbnail " style="text-align:center;">
                <strong>BILL OF MATERIAL (BOM)</strong>
            </div>
            <!--Contenido despues de BOM-->
            <div class="col-xs-2 thumbnail">
                <p><strong>PART NUM</strong></p>
                <input id="Text8" type="text" />
            </div>
            <div class="col-xs-1 thumbnail">
                <p><strong>QTY</strong></p>
                <input style="width:100%;" id="Text8" type="text" />
            </div>
            <div class="col-xs-1 thumbnail">
                <p><strong>REV</strong></p>
                <input style="width:100%;" id="Text9" type="text" />
            </div>
            <!--Este div contiene Code y Q con un solo input, como se muestra en el pdf de muestra-->
            <div class="col-xs-1 thumbnail">
                <div class="col-md-1">
                    <p><strong>CODE</strong></p>

                </div>
                
                <input style="width:100%;" id="Text10" type="text" />
            </div>
            <div class="col-xs-1 thumbnail">
                <div style="float:right;" class="col-md-1">
                    <p><strong>Q</strong></p>
                </div>
            </div>
            <!--Fin del div con dos elementos-->
            <div class="col-xs-3 thumbnail">
                <p><strong>DESCRIPTION</strong></p>
                <input style="width:100%" id="Text11" type="text" />
            </div>
            <div class="col-xs-3 thumbnail">
                <p><strong>SERIAL NUM</strong></p>
                <input style="width:100%" id="Text12" type="text" />
            </div>
            <!-- Contenido por debajo de Gabinete Tienda Nueva Oxxo-->
            <div class=" col-xs-3 thumbnail">
                <p><strong>PLAT TN0</strong></p>
            </div>
            <div class="col-xs-1 thumbnail">
                <input style="width:100%;" type="text" name="" value="" />
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value="" />
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" />
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" name="" value=""/>

            </div>
            <div class="col-xs-2 thumbnail">
                <input style="width:90%;" type="text" value="" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="191U4090" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="WANTTNODEP1" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0017" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0010" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0010" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0055" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0007" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0008" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="037H415128" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0053" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="080Z0061" />
                <br />
                <br />
                <input style="width:90%;" type="text" value="191U4143" />
            </div>
            <div class="col-xs-3 thumbnail">
                <p style="font-size:12px;" class="">PLATINA CABLEADA TABLERO TN OXXO</p>
                <p style="font-size:12px;" class="">GABINETE HIMEL 800X600X300/LAMINA</p>
                <p style="font-size:14px;"class="">DEMAND METER 120/208-240 VAC</p>
                <p style="font-size:12px;" class=""> AK-XM 205B,8AI/8DO,OVR,EURO STYLE CONN</p>
                <p style="font-size:12px;" class="">AK-XM205A,8AI/8DO,EURO STYLE CONN</p>
                <p style="font-size:12px;" class="">AK-XM205A,8AI/8DO,EURO STYLE CONN</p>
                <p style="font-size:12px;" class="">AK-PS 250,2.5A/100-240V POWER SUPPLY</p>
                <p style="font-size:14px;" class="">AK-XM 101A EXT.MODULE, 8AI</p>
                <p style="font-size:14px;" class="">AK-XM 102A EXT.MODULE, 8AI</p>
                <p style="font-size:15px;" class="">CI 25-2 CONT 25A,208-230V/60HZ</p>
                <p style="font-size:14px;" class="">AK-PS 075,2.5A/100-240V POWER SUPPLY</p>
                <p style="font-size:12px;" class="">AK2 COMM MODULE (LONWORKS TP-78)</p>
                <p style="font-size:12px;" class="">PHASE LOSS PROTECT W/TRANSF 230V</p>
            </div>
            <div class="col-xs-3 thumbnail">
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
                <br />
                <br />
                <input style="width:100%;" type="text" value=""/>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="container thumbnail">
            <div style="text-align:center;" class="col-xs-12 thumbnail">
                <h4>DRAWING/QUALITY/PACKING INSPECTION</h4>
            </div>
            <div class="col-xs-3">
                <h5 class="thumbnail">ISSUE TO CHECK</h5>
            </div>
            <div class="col-xs-3">
                <h5 class="thumbnail">REV</h5>
            </div>
            <div class="col-xs-3">
                <h5 class="thumbnail">ISSUE TO CHECK</h5>
            </div>
            <div class="col-xs-3">
                <h5 class="thumbnail">REV</h5>
            </div>
        </div>
        <div class=" container">
            <div class="col-xs-3">
                <p>EWD DRAWING</p>
                <p>DSR DRAWING</p>
                <p>INSIDE-BOXES</p>
                <p>PLATE LABELS</p>
                <p>ID FRONTAL</p>
                <p>FINAL PACKING</p>
                <p>TRUN-ON TEST</p>
                <p>GROUND WIRE</p>
            </div>
            <div class="col-xs-3">
                <p></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
            </div>
            <div class="col-xs-3">
                <p>DATABASE TEST VERSION</p>
                <p>WAS & SEQUENCE VERSION</p>
                <p>45° & CUT EDGES</p>
                <p>ADDED FILE TO F.G</p>
                <p>FRONT ID=PLATE ID</p>
                <p>DOOR LABELS</p>
                <p>WIRE TAGs FROM-TO</p>
                <input style="width:90%;" type="text" name="name" value"" />
            </div>
            <div class="col-xs-3">
                <input type="text" name="name" value="" />
                <br />
                <br />
                <input type="text" name="name" value="" />
                <br />
                <br />
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                <br />
                <p class="small">Si<input style="width:20%;" id="Checkbox1" type="checkbox"></p>
                
            </div>
        </div>
    </div>
    <!--aqui abajo esta el input para colocar el nombre del archivo y el boton-->
    <div>
        <input type="text" name="nombreDoc" placeholder="Coloca el nombre del documento " />
    </div>
    <button type="submit" class="btn-primary">Generar</button>
    <!--Fin del input y el boton-->
</form>

